
.container {
  margin-bottom: 33px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 540px;
}

.cardContent h1 {
  font-size: 28px;
  margin: 0;
}

.cardContent p {
  line-height: 26px;
}

.cardContentAllign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allignInfo {
  display: flex;
  flex-direction: column;
}

.allignInfo p {
  margin: 0;
}

.infosName {
  font-size: 14px;
  color: #1f3f68;
}

.infosLikesComm {
  font-size: 14px;
  color: #1f3f68;
}

.row {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

.image {
  width: 300px;
  height: 200px;
}