.container {
  margin-bottom: 33px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
}

.cardContent h1 {
  font-size: 48px;
  margin: 0;
}

.cardContent p {
  line-height: 26px;
}

.cardContentAllign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allignInfo {
  display: flex;
  flex-direction: column;
}

.allignInfo p {
  margin: 0;
}

.infosName {
  letter-spacing: 0.04em;
  font-size: 14px;
  color: #1f3f68;
}

.infosLikesComm {
  font-size: 14px;
  color: #1f3f68;
  opacity: 0.4;
}

.row {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

.image {
  width: 540px;
  height: 380px;
}


.button {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #356ead;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.buttonText {
  font-size: 16px;
  padding: 0 19px;
}
