.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  font-size: 25px;
  background-color: #f4f4f4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.input {
  width: 895px;
  height: 56px;
  padding: 8px 16px;
  background-color: #f4f4f4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
  border: none;
}

.input:focus {
  outline: none;
}
