.second_container {
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.image {
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardContent h1 {
  font-size: 28px;
  margin: 16px 0;
}

.cardContent p {
  line-height: 26px;
}

.cardContentAllign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allignInfo {
  display: flex;
  flex-direction: column;
}

.allignInfo p {
  margin: 0;
}

.infosName {
  letter-spacing: 0.04em;
  font-size: 14px;
  color: #1f3f68;
}

.infosLikesComm {
  font-size: 14px;
  color: #1f3f68;
  opacity: 0.4;
}

.row {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
