.medium_container {
  width: 220px;
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
}

.image {
  width: 220px;
  height: 166px;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardContent h1 {
  font-size: 25px;
  margin: 16px 0;
}

.cardContent p {
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardContentAllign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allignInfo {
  display: flex;
  flex-direction: column;
}

.allignInfo p {
  margin: 0;
}

.infosName {
  letter-spacing: 0.04em;
  font-size: 14px;
  color: #1f3f68;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infosLikesComm {
  font-size: 14px;
  color: #1f3f68;
  opacity: 0.4;
}

.row {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
