.nav {
  padding: 45px 90px;
  width: auto;
  display: flex;
  justify-content: space-between;
  /* background-color: grey; */
  align-items: center;
}

.icons {
  font-size: 24px;
  color: #356ead;
  cursor: pointer;
}

.ArticleComponent {
  padding-top: 32px;
}
