.big {
  display: flex;
  column-gap: 38px;
  font-size: 24px;
  color: #356ead;
}

.medium {
  display: flex;
  column-gap: 28px;
  font-size: 20px;
  color: #356ead;
}

.small {
  display: flex;
  column-gap: 15px;
  font-size: 15px;
  color: #356ead;
}

.shareButton {
  cursor: pointer;
}

.bookmarkButton {
  cursor: pointer;
}
